.form {
  display: block;
  margin-top: rem(34px);
  margin-left: rem(56px);
  order: 2;
  padding-inline: 0;
  text-align: center;

  &__img {
    padding-top: rem(24px);
    padding-inline: 0;
    margin-left: auto;
    margin-right: auto;
  }
  &__cont {
    display: block;
    text-align: center;
    padding-inline: rem(5px);
    &_button:hover {
      background-color: rgb(185, 8, 8);
      transition: 0.7s;
    }
  }
}
